<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home - Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>

<body >
    <div class="bg">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="logo-header">Junior Baby Center</div>
                    </div>
                    <div class="col-md-4">
                        <div class="float-btn-right">
                            <button type="button" class="btn btn-primary log">
                                <a href="/auth/login">Sign In</a>                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="app-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="big-text">
                            <h1 class="big-text">
                                A <font color="#0078d4"> Home</font> Away<br />
                                From Home
                            </h1>
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5 id="p">We Value Safety and Transparency</h5>
                                    </div>
                                    <div class="col-md-5 ">
                                        <button class="btn btn-primary btn-contact">
                                            Contact Us
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p id="footer">&copy; Copyright 2019 Junior Baby Center Limited</p>
        </footer>
    </div>
</body>

</html>