<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Modules - Page</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/custom.css" />
    <link rel="stylesheet" href="../css/modules.css" />
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other
                            background context. Make it a few sentences long so folks can pick up some informative
                            tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div> -->
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="../images/mondo_logo-removebg-preview.png" alt="Mondo logo">
                    <strong>Mondo</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Your Modules</h1>
                    <p class="lead text-muted">Modules you have worked on recently.</p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-6">
                        <a href="./computerModule.html">
                            <div class="card shadow-sm">
                                <img src="../images/pexels-anete-lusina-4792733.jpg" style="width: 50%; margin: auto;"
                                    alt="" />
                                <div class="card-body">
                                    <p class="card-text moduleLink">Computer</p>
                                    <br>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Module 1</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="./digitalSafetyModule.html">
                            <div class="card shadow-sm">
                                <img src="../images/pexels-shelagh-murphy-2883380.jpg"
                                    style="width:100%; margin: auto; padding: 50pt;" alt="" />
                                <div class="card-body">
                                    <p class="card-text moduleLink">Digital Safety and Hygiene</p>
                                    <br>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Module 2</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding-bottom: 200px;">
            <h3>Future modules</h3>
            <p>Modules you will reach in the future</p>
        </div>
    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <!-- <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
                    href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p> -->
        </div>
    </footer>



</body>

</html>