body,
html {
  height: 100%;
  margin: 0;
}

.p {
  color: #c00000;
  font-weight: bold;
}

sup {
  color: #c00000;
  font-weight: bolder;
  font-size: 15px;
}

.select {
  width: 115%;
}

.div {
  background-color: #fff;
  border-radius: 0em;
  display: inline-block;
  padding: 2em;
  width: 40%;
  height: 50%;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 0em;

  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue",
    "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi",
    "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga",
    "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee",
    "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic",
    "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue",
    "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti",
    "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #1b1b1b;
  text-align: left;
}

.div2 {
  background-color: #fff;
  border-radius: 0em;
  display: inline-block;
  padding: 3em;
  width: 80%;
  height: auto;
  margin-left: 100px;
  margin-right: 450px;
  margin-top: 0em;

  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue",
    "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi",
    "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga",
    "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee",
    "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic",
    "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue",
    "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti",
    "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #1b1b1b;
  text-align: left;
}

.bg {
  /* The image used */
  background-image: url("../images/pexels-rfstudio-3059745.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 72px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bolder;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.log {
  width: 120px;
  margin-top: 0px;
  margin-bottom: 8px;
  background: none;
  border-radius: 5px;
  font-weight: bold;
}

.log :a {
  color: #0078d4;
  text-decoration: none;
}

.log :hover,
a {
  color: white;
  text-decoration: none;
}

.float-btn-right {
  float: right;
}

.logo-header {
  padding-top: 6px,0;
}

.big-text {
  line-height: 1.05;
  font-weight: bolder;
  letter-spacing: -0.02em;
  text-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 400 normal 1.125rem/1.35 "segoe", "Segoe UI", Arial, sans-serif;
  font-size: 60px;
}

#big-text {
  margin-top: 300px;
}

hr {
  border: 1px solid #ffff;
}

#p {
  font-weight: bolder;
  color: #ffff;
  font-size: 25px;
}

.btn-contact {
  font-weight: bold;
  width: 450px;
  height: 45px;
  background: #0078d4;
  margin-right: 0px;
  padding-right: 0px;
  border-radius: 30px;
}

label {
  font-size: 1.1rem;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#footer {
  padding-top: 12px;
  color: #fff;
  text-align: center;
}
